*{
  outline:black solid 1px;
}
body{
  max-width: 900px;
  margin: 0 auto;
}
hr {
  background-image: url(img/linestart.png);
  background-repeat: repeat-x;
  background-color: transparent;
  background-position: center;
}
/* Header */
header{
  overflow: auto;
}
header div{
  width: 25%;
  float: left;
}
header div img{
  float:left;
}
h2{
  font-size: 2em;
}
header div p{
  font-size:.75em;
}
header ul{
  float:right;
  display:inline;
  margin: 1em 0 1em 0;
}
header ul li{
  display:inline-block;
}
/* Main */

/* footer */